/* 

Projet : M'YEU à bicyclette
Auteure : Marion Deglorie
Date de création : 06/04/2020



!!! CSS Page Balades à vélo !!!


/*** BALADES **********************************************/

#balades {
    height: 100vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    position: relative;

    background: url(/ressources/heros/hero-balade.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    overflow: hidden;
}

#balades .content p {
    margin-bottom: -25px;
}

#page-balades {
    display: -webkit-box;
    display: flex;
    margin: 80px 0;
}

.container-balades {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 50px 0;
}

.container-group {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: center;
            justify-content: center;
    flex-wrap: wrap;
}

.container-balades .box {
    position: relative;
    width: 400px;
    height: 280px;
    overflow: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin: 5px;
    margin: 10px;
}

.container-balades .box:hover {
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.box-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.box-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding: 40px;
}

.btn-balade {
    background-color: #468594;
    width: 60%;
    padding: 10px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: white;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    cursor: pointer;
}

.btn-balade:hover {
    background-color: white;
    color: #468594;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}

.container-balades .box:hover .btn-balade {
    -webkit-animation: pulse 1.5s;
            animation: pulse 1.5s;
}

/*********** The Modal **********************/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 1s;
    transition: 1s;
}

.modal-content {
    background: url(/ressources/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 28px -4px rgba(0, 0, 0, 0.75);
    margin: 10% auto;
    padding: 40px;
    width: 80%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    position: relative;
}

.modal-content {
    -webkit-animation-name: zoom;
            animation-name: zoom;
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
                transform: scale(0)
    }

    to {
        -webkit-transform: scale(1);
                transform: scale(1)
    }
}

@keyframes zoom {
    from {
        -webkit-transform: scale(0);
                transform: scale(0)
    }

    to {
        -webkit-transform: scale(1);
                transform: scale(1)
    }
}

.modal-content h2 {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
}

.modal-content h2:after {
    content: '';
    background-color: #468594;
    height: 6px;
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.modal-content p {
    padding: 30px 20px 30px 0;
}

.modal-content img {
    width: 450px;
    height: auto;
}

.close {
    color: #aaa;
    position: absolute;
    font-size: 35px;
    font-weight: bold;
    right: 10px;
    top: 0;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/********* AVIS DE FACEBOOK ***********************************/
#testimonials {
    background: rgba(70, 132, 148, 0.3);
    padding: 40px 15%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
}

.testimonials {
    text-align: center;
}

.testimonials h3 {
    text-transform: uppercase;
}

.testimonials p {
    margin: 10px 0 20px 0;
}

.testimonials a {
    font-weight: 700;
    font-size: 14px;
    color: #468594;
}

 /* Slideshow container */
 .slideshow-container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.411);
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color:rgba(70, 132, 148, 0.3);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #4684947c;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #468594;
  }
 
  q {
      font-weight: 300;
      font-style: italic;
    }
  
  .author {
      padding: 10px;
      color: #333333;
    } 

    .button-togallery {
        width: auto;
    }

/********* RESPONSIVE ***********************************/

@media screen and (max-width:992px) {
    .modal-content img {
        width: 300px;
    }

    .container-balades .box {
        width: 280px;
        height: 196px;
    }

    .btn-balade {
        width: 90%;
    }
}

@media screen and (max-width:768px) {
    .modal-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
    }

    .modal-content img {
        padding-top: 15px;
        width: 100%;
    }
}

@media screen and (max-width:667px) {
    .container-balades .box {
        width: 200px;
        height: 140px;
    }

    .btn-balade {
        width: 110%;
        font-size: 10px;
    }
}

@media screen and (max-width: 576px) {
    .btn-balade {
        width: 100%;
    }
}

@media screen and (max-width: 488px) {
    .mySlides {
        padding: 50px;
      }

}