/* 

Projet : M'YEU à bicyclette
Auteure : Marion Deglorie
Date de création : 06/04/2020



!!! CSS Page Présentation de l'Île d'Yeu !!!


/*** PRESENTATION **********************************************/
.page1 {
  margin-top: 80px;
  overflow: hidden;
}

#presentation {
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  position: relative;
  background: url(/ressources/heros/hero-ile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  overflow: hidden;
}

.page-presentation {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: end;
          align-items: flex-end;
  margin-bottom: 30px;
}

.histoire {
  display: -webkit-box;
  display: flex;
  width: 80%;
  -webkit-box-align: center;
          align-items: center;
  position: relative;
}

.histoire-text {
  color: #333333;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin: 50px 0;
  background-color: #bed1d6bb;
  padding-right: 40%;
  height: 70%;
  position: relative;
}

.histoire h2 {
  position: relative;
  padding: 10px;
  margin: 20px;
}

.histoire p {
  position: relative;
  padding-bottom: 20px;
  padding-left: 20px;
}

.histoire h2:after {
  content: '';
  background: #468594;
  height: 6px;
  width: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.page-presentation-reverse {
  margin-bottom: 30px;
}

.page-presentation-reverse .histoire-text {
  padding-left: 40%;
  padding-right: 35px;
  position: relative;
}

.page-presentation-reverse img {
  position: absolute;
  left: 0;
  margin-left: 8%;
}

.histoire img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
  width: 28%;
  height: auto;
  position: absolute;
  right: 0;
  margin-right: 8%;
}

/*** Responsive IMG et button ********************************/

@media screen and (max-width:576px) {

  .histoire img {
    margin-right: 0px;
    width: 40%;
    bottom: -55px;
    right: 10px;
  }

  .histoire-text {
    padding: 25px 10px 20px 25px;
  }

  .page-presentation-reverse .histoire-text {
    padding: 25px 25px 20px 10px;
  }

  .button-presa {
    margin-top: 20%;
    width: 50%;
  }
}

@media screen and (max-width:465px) {
  .histoire img {
    bottom: -20px;
  }
}

/*** PETITE GALERIE PHOTOS **********************************************/

#small-gallery {
  background: rgba(70, 132, 148, 0.3);
  padding: 50px;
  margin-top: 50px;
}

.small-gallery {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}

.small-gallery h3 {
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

/*** LIGHTBOX SUR GALLERY PHOTOS */
.row>.column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  flex-wrap: wrap;
}

.column {
  width: 25%;
  min-width: 120px;
}

.column img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.img {
  width: 100%;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 800px;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 2px 16px;
}

img.demo {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}