/* 

Projet : M'YEU à bicyclette
Auteure : Marion Deglorie
Date de création : 06/04/2020



!!! CSS Page Sécurité !!!


/*** SECURITE ********************************************/

.securite {
    height: 100vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    position: relative;

    background: url(../ressources/heros/hero-securite.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    
    overflow: hidden;
}
#page-securite {
    margin: 100px 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
}

#page-securite h2 {
    position: relative;
    padding: 10px;
    margin: 20px;
}

.secu-left {
    background-color: #bed1d6bb;
    padding: 20px 20px 50px 80px;
    margin: 25px 0px 100px 0; 
    width: 60%;
    position: relative;
}

.secu-right {
    text-align: right;
    background-color: #bed1d6bb;
    padding: 20px 80px 50px 20px;
    margin: 25px 0 100px 40%;
    position: relative;
}

.secu-left img {
    position: absolute;
    top:-20px;
    right: -20px;
    height: 120px;
}

.secu-right img {
    position: absolute;
    top:-30px;
    left: -40px;
    height: 120px;
}

.secu-left h2:after {
    content: '';
    background: #468594;
    height: 6px;
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .secu-right h2:after {
    content: '';
    background: #468594;
    height: 6px;
    width: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

/******* REPONSIVE **************************/

@media screen and (max-width:992px) {
    #page-securite img {
        height: 80px;
    }

    .button-secu {
        width: 50%;
    }
}

@media screen and (max-width:576px) {
    .secu-left, .secu-right {
        padding: 20px;
    }
}
