/* 

Projet : M'YEU à bicyclette
Auteure : Marion Deglorie
Date de création : 06/04/2020



!!! CSS Page Balades à vélo !!!


/*** BALADES **********************************************/

.balades {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    background: url(./ressources/hero-balade.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    overflow: hidden;
}

#page-balades {
    display: flex;
    background-color: #f2f0f2;
}

.container-balades {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    padding: 50px 0;
}

.container-balades .box {
    position: relative;
    width: 560px;
    height: 280px;
    overflow: hidden;
    transition: 0.5s;
    margin: 5px;
    cursor: pointer;
}

.container-balades .box:hover {
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.box-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.btn-balade {
    background-color: #468594;
    width: auto;
    padding: 10px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: white;
    transition: 0.6s;
    cursor: pointer;
}

.btn-balade:hover {
    background-color: white;
    color: #468594;
    transform: scale(1.05);
}


/*********** The Modal **********************/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background: url(/ressources/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 28px -4px rgba(0, 0, 0, 0.75);
    margin: 15% auto;
    padding: 40px;
    width: 80%;
    display: flex;
    align-items: center;
    position: relative;
}

.modal-content h2 {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
}

.modal-content h2:after {
    content: '';
    border: solid 3.5px #468594;
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.modal-content p {
    padding: 30px 20px 30px 0;
}

.modal-content img {
    width: 450px;
    height: auto;
}

.close {
    color: #aaa;
    position: absolute;
    font-size: 35px;
    font-weight: bold;
    right: 10px;
    top: 0;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/******************* RESPONSIVE ***************/

@media screen and (max-width:992px) {
    .modal-content img {width: 300px;}
}

@media screen and (max-width:768px) {
    .modal-content {flex-direction: column;}
    .modal-content img {padding-top: 15px; width: 100%;}
}