/* 

Projet : M'YEU à bicyclette
Auteure : Marion Deglorie
Date de création : 06/04/2020



!!! CSS Page Présentation de l'Île d'Yeu !!!


/*** PRESENTATION **********************************************/

#presentation {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;


  background: url(./ressources/ile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  overflow: hidden;
}

.page-presentation {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.histoire {
  display: flex;
  width: 80%;
  align-items: center;
}

.histoire-text {
  color: #333333;
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  background-color: #bed1d6bb;
  padding: 35px;
  padding-right: 40%;
  height: 70%;
  position: relative;
}

.histoire h2 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.histoire h2:after {
  content: '';
  border: solid 3.5px #468594;
  width: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.page-presentation-reverse .histoire-text {
  padding-left: 40%;
  padding-right: 35px;
}

.histoire.histoire-reverse h2:after {
  content: '';
  border: solid 3.5px #468594;
  width: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.page-presentation-reverse img {
  position: absolute;
  left: 0;
  margin-left: 8%;
}

/*** MODALS SUR PHOTOS */

/* Style the Image Used to Trigger the Modal */
.histoire img {
  cursor: pointer;
  transition: 0.3s;
  object-fit: cover;
  box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.3);
  width: 22%;
  height: auto;
  position: absolute;
  right: 0;
  margin-right: 8%;
}

.histoire img:hover {
  opacity: 0.8;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
.caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}



/*** PETITE GALERIE PHOTOS **********************************************/

#small-gallery {
  background: rgba(70, 132, 148, 0.3);
  padding: 50px;
  margin-top: 50px;
}

.small-gallery {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small-gallery h3 {
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}



/*** LIGHTBOX SUR GALLERY PHOTOS */
.row>.column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  display: flex;
  align-items: center;
}

.column {
  float: left;
  width: 25%;
}

.column img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}